    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>The best way to contact us is to send an email.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <div>
                  Voicemail: <a href="tel:6034479369">(630) 447-9369</a>
                </div>
                <br/>
                <div>
                  Fox Flying Club<br/>
                  P.O. Box 472<br/>
                  Wheaton, IL 60189-0472 
                </div>
            </div>
        </div>
    </section>