    <!-- Download Section -->
    <section id="fleet" class="content-section text-center">
        <div class="fleet-section">
            <div class="container content-box">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Fleet</h2>
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="/n41598">
                          <img class="media-object" src="img/41598/exterior-small.jpg"" width="200px" alt="N41598">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">N41598</h4>
                        1999 Piper Archer III
                          <br/>
                          <span class="small">$109/hour tach</span>
                          <br/><a href="/n41598">More Info</a>
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="/n773sp">
                          <img class="media-object" src="img/773sp/exterior-small.jpg"" width="200px" alt="N773SP">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">N773SP</h4>
                        2001 Cessna Skyhawk 172SP
                          <br/>
                          <span class="small">$104/hour tach</span>
                          <br/><a href="/n773sp">More Info</a>
                        
                      </div>
                    </div>
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="/n31401">
                          <img class="media-object" src="img/31401/exterior-small.jpg"" width="200px" alt="N31401">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">N31401</h4>
                        1978 Piper Arrow III
                          <br/>
                          <span class="small">$126/hour tach</span>
                          <br/><a href="/n31401">More Info</a>
                        
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
