    <!-- Download Section -->
    <section id="join" class="content-section text-center">
        <div class="join-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Join the Club</h2>
                    <p>Although we limit membership to optimize scheduling opportunities for members we do have turnover when Active members leave the area or chose to put their flying on hold for a while.</p>
                    <h3>The Process</h3>
                    <ul>
                        <li>Review the club rules and bylaws (found <a href="/member_docs">here</a>)</li>
                        <li>Review the <a href="/faq">FAQ</a></li>
                        <li>Let us know you want to join, this also gives us initial inquiry date for tracking prospective members</li>
                        <li>Download and complete the <a href="/docs/operations-review.pdf">operations review</a>
                            <br/>This is just an exercise to familiarize you with our rules. Most of the answers can be found in the Rules document</li>
                        <li>Complete the <a href="/docs/application.pdf">membership application</a></li>
                        <li>Interview with three board members
                            <br/>Bring all the above with the required copies and meet with three board members at one of our  regularly scheduled meetings to discuss your interest, club practices or any other questions you may have.</li>
                        <li>Pay the fees - Bring a check payable to Fox Flying Club for $445 ($350 initiation fee plus $95 first month's dues)</li>
                    </ul>

                    <h3>After you join</h3>
                    <ul>
                        <li>You're now ready to take flight!</li>
                        <li>You will be provided with various access codes for Schedulemaster and club locks</li>
                        <li>Get checked out in club planes
                            <br/>You'll need to have a checkride with a club Instructor in each plane you intend to fly. Students need their checkride before soloing. Semiannual club checkrides to improve your proficiency are only required in any ONE plane, not all the planes you fly.</li>
                        <li>As an Active member you’re encouraged (and expected) to participate in meetings, plane cleaning and other volunteer activities.  The more you participate, the greater your overall flying experience</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
