<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://my.schedulemaster.com/">Schedule</a></li>
    <li><a href="/checkride">Checkride Form</a></li>
    <li><a href="/cfis">Club CFIs</a></li>
    <li><a href="/meetings">Meetings</a></li>
    <li><a href="/member_docs">Member Docs</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
</li>
