<li class="dropdown">
  
  <button class="btn-nav-custom btn-block dropdown-toggle-member" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="http://forum.foxflying.com">Member Forum</a></li>
    <li><a href="https://my.schedulemaster.com/">Schedule</a></li>
    <li><a href="/checkride">Checkride Form</a></li>
    <li><a href="/cfis">Club CFIs</a></li>
    <li><a href="/meetings">Meetings</a></li>
    <li><a href="/member_docs">Member Docs</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/videos">Videos</a></li>
  </ul>
</li>
