    <!-- Training Section -->
    <section id="training" class="content-section text-left">
        <div class="training-section">
            <div class="container content-box">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Learn to Fly with Fox Flying</h2>
                    <p>Getting the urge to fly? We welcome student pilots in the club. Every pilot was at one time a student pilot so we’re confident you’ll enjoy, with us, the lofty pursuit of flying!</p>

                    <p>Participation in the club is a great way to learn more about flying through interaction with other members. We are different than a flight school in that we own the planes and have a strong interest in taking care of them - we are also the ones flying the planes. We keep rates low because club volunteers do as much as possible to keep the planes in top condition. On average, the Club's rates are 20% lower than for-profit flight schools.</p>
                    
                </div>
            </div>
        </div>
    </section>
